# Python
venv/
.venv/
backend/venv/
__pycache__/
*.pyc

# Environment variables
frontend/.env
backend/.env

# IDE
.idea/
idea/

# Node
node_modules/
/node_modules

# Next.js
.next/
out/

# Build
build/

# Coverage
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel
.vercel

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts